@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --primary-color: rgb(17, 86, 102);
    --primary-color-darker: rgb(9, 48, 56);
    font-size: 62.5%;
}

*{
    box-sizing: border-box; 
    outline: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: sans-serif;
    font-size: 2.5rem;
}

p{
    margin: 0;
}

.container{
    max-width: 85rem;
    margin: 3rem auto;
    background-color:#fff;
    padding: 1rem;
    border-radius: 1rem;
    overflow-y: hidden;
    filter: none;
}

.container h1 {
    text-align: center;
    margin-top: 0; margin-bottom: 15px;
    border-bottom: 2px solid var(--primary-color);
}

.controller{
    margin-bottom: 1rem;
}

.matches{
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
}

.box{
    width: 30rem;
    background-color: rgb(241, 241, 241);
    border: 1px solid black;
    flex: 1 1 400px;
    padding: 1rem;

    align-items: center; padding: auto; 

    & .header{
        display: flex; flex-direction: column;
        text-align: center;
        margin-bottom: 1rem;

        & .data{
            font-size: 1.5rem;
        }
    }

    & .info{
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        & img{
            padding: 0 1rem;
        }

        & input{
            width: 3rem; height: 3rem;
            font-size: 2rem;
            text-align: center;
            padding: 0; margin: auto;
        }

        & input:disabled{
            background-color: inherit;
            opacity: 100%;
            border: none;
            font-size: 3rem;
            color: black;
        }
    }
}

.container-tabela{
    display: flex;
    flex-direction: column;
}


table{
    border-collapse: collapse;

    text-align: center;

    & th{
        font-size: 2rem;
    };

    & td{
        align-items: center;
        padding: 0;
        border-bottom: 1px solid black;
        

        & p{
            font-size: 1.5rem;
        };
    };

    & img{
        width: 25px;
        margin-top: 6px;
    }
}



.loader-circle {
    width: 100px; height: 100px;
    border-radius: 50%; border: 10px solid #fff;
    border-top-color: var(--primary-color-darker);
    animation: loader-circle 1s linear infinite;
  }
  
  @keyframes loader-circle {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }


@media (max-width: 368px){
    
}

@media (min-width: 369px) and (max-width: 504px){



}

@media (min-width: 505px) and (max-width: 900px){

}